@charset "UTF-8";
body h1 {
    color: #FFFFFF;
    font-family: "vt323";
    font-style: normal;
    font-weight: 400;
    background-color: #D1171A;
}
body h2 {
    color: #FFFFFF;
    font-family: "vt323";
    font-style: normal;
    font-weight: 400;
    padding: 6px;
    background-color: #D1171A;
    margin-right: 849px;
}
body img {
    text-align: right;
    margin-left: 141px;
}
body h3 {
    color: #D1171A;
    font-family: "vt323";
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
body img h2 {
    margin-left: 44px;
    float: left;
}
body p {
    color: #D1171A;
    font-family: "vt323";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-left: 103px;
}
