@charset "UTF-8";
.grid-container {
	display: grid;
	grid-template-columns: 150px 750px;
	
}

.grid.grid-item {
	height: 350px;
}.grid-container .grid-item nav {
    margin-left: 385px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-weight: 600;
    color: #CB181B;
}
body footer {
    position: fixed;
    padding-right: 0px;
    padding-left: 820px;
}
.grid-container .grid-item logo img {
    margin-left: 0px;
    margin-top: 0px;
    text-align: justify;
}
.grid-container .grid-item h1 {
    margin-left: 0px;
    text-align: center;
    color: #D1171A;
}
body h2 {
    color: #D1171A;
}
body p {
    color: #D1171A;
}
body footer {
    color: #D1171A;
}
.grid-container .grid-item nav {
    color: #FFFFFF;
    text-shadow: 0px 0px #D1171A;
    list-style-position: inside;
    background-color: #D1171A;
    margin-right: 171px;
}
.grid-container .grid-item nav {
}
.grid-item nav ul {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    list-style-type: none;
    white-space: pre-line;
    text-align: center;
    text-indent: 0px;
}
