@charset "UTF-8";
body {
    color: #FFFFFF;
    font-family: "vt323";
    font-style: normal;
    font-weight: 400;
    background-color: #FFFFFF;
}
h3 {
    color: #FFFFFF;
    background-color: #D1171A;
}
