@charset "UTF-8";
body h1 {
    color: #FFFFFF;
    font-family: "vt323";
    font-style: normal;
    font-weight: 400;
    background-color: #D1171A;
}
body h2 {
    font-family: "vt323";
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #D1171A;
    padding: 6px;
    margin-right: 850px;
    text-decoration: none;
}
